.box{
    width: 200px;
    height: 200px;
    animation:zahir infinite ;
    animation-duration: 5s;
    position: absolute;
    background-color: red;
    margin-top: 300px;
   
}
@keyframes zahir{
    0%{
        rotate: 20deg;
        left: 0px;
    }
    10%{
left: 100px;
background-color: aqua;
rotate:95deg;
    }
    20%{
        left: 200px;
        background-color: aquamarine;
        rotate: 180deg;
    }
    30%{
        background-color: blueviolet ;
        left: 300px;
        rotate: 260deg;
    }
    40%{
        background-color: chartreuse;
        rotate: 340deg;
        
        left: 400px;
    }
    50%{
        left: 500px;
        rotate: 415deg;
    }
    60%{
        left: 600px;
        rotate: 495deg;
    }
    70%{
        left: 700px;
        rotate: 575deg;
    }
    80%{
        left: 800px;
        rotate: 655deg;
    }
    90%{
        left: 900px;
        rotate: 735deg;
    }
    100%{
        left: 1000px;
        rotate: 815deg;
    }
    
}
    

